@mixin flexCenter($space_even, $align_center, $flex_direction) {
    display: flex;
    justify-content: $space_even;
    align-items: $align_center;
    flex-direction: $flex_direction;
}

@mixin backgroundAnimate() {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 12s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}