@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); 

* {
    box-sizing: border-box;
}

html{
    background-color: antiquewhite;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

.nav {
    display: flex;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 0;
    flex: 1;
}

.nav-bar li, ul{
    list-style: none;
    font-size: 20px;
}

.nav-bar a {
    text-decoration: none;
}

.head-wrapper{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 80px;
}

.material-symbols-outlined {
     font-size: 5em;
}


.main-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-bg {
    font-size: 30px;
    width: 25em;
    text-align: center;
}

.personal {
    display: flex;
    align-items: center;
}

.skills_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills_wrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bg-img {
    background-image: url(/images/undraw_react_re_g3ui.svg);
}

#home_current {
    border-bottom: 2px solid grey;
}

.skills_img_wrapper {
    display: flex;
}

#skills_img {
    max-width: 100%;
    height: auto;

}

#skills_table {
    display: flex;
    justify-content: center;
    text-align: center;
}